

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Domine', serif;
}

.header {
    text-align: center;
    padding: 32px;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 4px;
}