
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Domine', serif;
}

.header {
    text-align: center;
    padding: 32px;
}

#movie-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 8px;
}

#footer {
    bottom: 0;
    width: 100%;
    color: #8B8B8B;
    margin: 0;
    font-family: 'Domine', serif;
    font-size: 14px;
}

#flashed-messages {
    color: #42A2B8;
    margin: 2;
    border-style: hidden;
}

#replies {
    padding:15px;
    border: 1px solid gray;
    border-radius: 10px;
}

#truths {
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
}

#truth-submission-form {
    padding:15px;
    border: 1px solid gray;
    border-radius: 10px;

}



/*jquery upvotes css*/


div.upvote {
    text-align: center;
}

div.upvote a.upvote-enabled {
    cursor: pointer;
}

div.upvote a {
    color: transparent;
    background-image: url('images/sprites-stackoverflow.png?v=1');
    background-repeat: no-repeat;
    overflow: hidden;
    display: block;
    margin: 0 auto;
    width: 41px;
    height: 25px;
}

div.upvote span.count {
    display: block;
    font-size: 24px;
    font-family: Arial, Liberation, Sans, DejaVu Sans, sans-serif;
    color: #555;
    text-align: center;
    line-height: 1;
}

div.upvote a.upvote {
    background-position: 0px -265px;
}

div.upvote a.upvote.upvote-on {
    background-position: 0px -230px;
}

div.upvote a.downvote {
    background-position: 0px -300px;
}

div.upvote a.downvote.downvote-on {
    background-position: 0px -330px;
}

div.upvote a.star {
    width: 33px;
    height: 31px;
    background-position: 0px -150px;
}

div.upvote a.star.star-on {
    background-position: 0px -190px;
}

div.upvote-serverfault a {
    background-image: url('images/sprites-serverfault.png?v=1');
}

div.upvote-meta-stackoverflow a {
    background-image: url('images/sprites-meta-stackoverflow.png?v=1');
}

div.upvote-superuser a {
    background-image: url('images/sprites-superuser.png?v=1');
}

div.upvote-unix a {
    background-image: url('images/sprites-unix.png?v=1');
    width: 42px;
    height: 27px;
}

div.upvote-unix a.upvote {
    background-position: 0px -237px;
}

div.upvote-unix a.upvote.upvote-on {
    background-position: 0px -198px;
}

div.upvote-unix a.downvote {
    background-position: 0px -281px;
}

div.upvote-unix a.downvote.downvote-on {
    background-position: 0px -319px;
}

div.upvote-unix a.star {
    width: 42px;
    height: 30px;
    background-position: 0px -126px;
}

div.upvote-unix a.star.star-on {
    background-position: 0px -164px;
}

div.upvote-unix span.count {
    color: #333;
    line-height: 15px;
    padding: 9px 0;
    font-family: "DejaVu Sans Mono","Bitstream Vera Sans Mono","Courier New",Courier,Consolas,"Andale Mono WT","Andale Mono","Lucida Console","Lucida Sans Typewriter",monospace;
    text-shadow; 1px 1px 0 #ffffff;
    font-weight: bold;
    margin: 0;
    border: 0;
    vertical-align: baseline;
}

div.upvote-programmers a {
    background-image: url('images/sprites-programmers.png?v=1');
    width: 42px;
    height: 20px;
}

div.upvote-programmers a.upvote {
    background-position: 5px -248px;
}

div.upvote-programmers a.upvote.upvote-on {
    background-position: 5px -211px;
}

div.upvote-programmers a.downvote {
    background-position: 5px -282px;
}

div.upvote-programmers a.downvote.downvote-on {
    background-position: 5px -320px;
}

div.upvote-programmers a.star {
    width: 42px;
    height: 30px;
    background-position: 6px -128px;
}

div.upvote-programmers a.star.star-on {
    background-position: 6px -166px;
}

div.upvote-programmers span.count {
    color: #333;
    line-height: 15px;
    padding: 5px 0 7px;
    font-size: 20px;
    font-weight: bold;
    font-family: Tahoma,Geneva,Arial,sans-serif;
}



/* Message Board CSS */

.testimonial{
    margin-bottom: 10px;
}

.testimonial-section {
    width: 180%;
    height: auto;
    padding: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    position: relative;
    border: 1px solid #fff;
}

.testimonial-section:after {
    top: 100%;
    left: 50px;
    border: solid transparent;
    content: " ";
    position: absolute;
    border-top-color: #fff;
    border-width: 15px;
    margin-left: -15px;
}

.testimonial-desc {
    margin-top: 20px;
    text-align:left;
    padding-left: 15px;
}

.testimonial-desc img {
    border: 1px solid #f5f5f5;
    border-radius: 150px;
    height: 70px;
    padding: 3px;
    width: 70px;
    display:inline-block;
    vertical-align: top;
}

.testimonial-writer{
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
}

.testimonial-writer-name{
    font-weight: bold;
}

.testimonial-writer-designation{
    font-size: 85%;
}

.testimonial-writer-company{
    font-size: 85%;
}
/*---- Outlined Styles ----*/



.testimonial.testimonial-info{
    
}

.testimonial.testimonial-info .testimonial-section{
    border-color: #5BC0DE;
    color: #31b0d5;
    background-color: rgba(91, 192, 222, 0.1);
}

.testimonial.testimonial-info .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-desc{
    
}

.testimonial.testimonial-info .testimonial-desc img{
    border-color: #5BC0DE;
}

.testimonial.testimonial-info .testimonial-writer-name{
    color: #5BC0DE;
}




/*---- Filled Styles ----*/



.testimonial.testimonial-info-filled{
    
}

.testimonial.testimonial-info-filled .testimonial-section{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.testimonial.testimonial-info-filled .testimonial-section:after{
    border-top-color: #5BC0DE;
}

.testimonial.testimonial-info-filled .testimonial-desc{
    
}

.testimonial.testimonial-info-filled .testimonial-desc img{
    border-color: #46b8da;
    background-color: #5bc0de;
}

.testimonial.testimonial-info-filled .testimonial-writer-name{
    color: #5BC0DE;
}

