
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Domine', serif;
}

.header {
    text-align: center;
    padding: 32px;
}

#movie-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0 8px;
}

#footer {
    bottom: 0;
    width: 100%;
    color: #8B8B8B;
    margin: 0;
    font-family: 'Domine', serif;
    font-size: 14px;
}

#flashed-messages {
    color: #42A2B8;
    margin: 2;
    border-style: hidden;
}

#replies {
    padding:15px;
    border: 1px solid gray;
    border-radius: 10px;
}

#truths {
    padding: 15px;
    border: 2px solid gray;
    border-radius: 10px;
}

#truth-submission-form {
    padding:15px;
    border: 1px solid gray;
    border-radius: 10px;

}

