{% extends 'base.html' %}


{% block title %} {{ movie.title }} {% endblock %}


{% block content %}

    <div class="container darker">

        <p><h2>{{ movie.title }}</h2>
        <p><img src={{ movie.poster }}>
        <p>Release Year: {{ movie.year }}
        <p>Plot: {{ movie.plot }}

        <p> {% if movie.website_url != "N/A" %}

            <a href="{{ movie.website_url }}">Visit {{ movie.title }}'s website.</a>

            {% endif %}

    </div>

    <!-- If statement to check if movie truths exist -->

{% if movie_truths %}

    <br><h3>See The Discussion: </h3>


    {% for truth in movie_truths %}

        <div class="container darker">

            <h4>{{ truth.truth_title }}</h4>
            <p>Submitted By: <a href="/user/{{ truth.user_id}}">{{ truth.username }}</a>

            <p>{{ truth.truth_submission }}

            {% if truth.resource_submission %}
                <p>Resource: <a href="{{ truth.resource_submission }}">{{ truth.resource_submission }}</a>

            {% endif %}
            <p><h5>{{ truth.date_submitted }}</h5>

        </div>

        <form action="/add-reply" method="POST">
        <fieldset>
            <br>
            <input type="text" name="comment" required>
            <input class="hidden" type="hidden" name="movie_id" value={{ movie.movie_id }} required>
            <input class="hidden" type="hidden" name="truth_id" value={{ truth.truth_id }} required>

            <input type="submit" value="Reply">

        </fieldset>
    </form>


{% for reply in replies %}

    {% if truth.truth_id == reply.truth_id %}

    <div class="container darker">

        <h4>Re: {{ truth.truth_title }}</h4>
        <p>Submitted By: <a href="/user/{{ reply.user_id}}">{{ reply.username }}</a>

        <p>{{ reply.comment }}
        <p><h5>{{ reply.date_submitted }}</h5>

    </div>

    <form action="/add-reply" method="POST">
        <fieldset>
            <br>
            <input type="text" name="comment" required>
            <input class="hidden" type="hidden" name="movie_id" value={{ movie.movie_id }} required>
            <input class="hidden" type="hidden" name="truth_id" value={{ truth.truth_id }} required>

            <input type="submit" value="Reply">

        </fieldset>
    </form>

        {% endif %}

{% endfor %}

    {% endfor %}

{% else %}

<p>Boo! There are no Truths here yet.

{% endif %}

    <!-- If statement to check for active user -->

    {% if "active_user" in session %}

        <div class="container darker">

            <form action="/movies/{{ movie.movie_id }}" method="POST">
                <fieldset>

                    <label><h4>Add your Truth</label></h4>
                    <br>
                    Title your Truth: <input type="text" name="title" required>
                    <br>
                    What's your Truth? <input type="text" name="truth" required>
                    <br>
                    Got any proof? <input type="url" name="resource">

                    <input type="submit" value="Add my truth!">
                    <br>
                    <br>

                </fieldset>
            </form>

        </div>

    {% else %}

        Want to be part of the discussion? 
         <h4><a id="movie-search-login" href="/login">Please log in to submit a Truth. </a>


    {% endif %}


{% endblock %}


