{% extends 'base.html' %}


{% block title %} {{ movie.title }} {% endblock %}

<!-- Display for movie -->

{% block content %}

<style>
    body {
        background-image: url(../static/img/tri.png);
    }
</style>


<!-- <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script src="lib/jquery.upvote.js"></script>
<link rel="stylesheet" href="../static/lib/jquery.upvote.css">

<div id="topic" class="upvote">
    <a class="upvote"></a>
    <span class="count">0</span>
    <a class="downvote"></a>
    <a class="star"></a>
</div> -->

    <div class="container">
        <div class="row">
            <div class="col text-center">

        <h2>{{ movie.title }}</h2>
        <img src={{ movie.poster }}>
        <p>Release Year: {{ movie.year }}</p>
        <p>Plot: {{ movie.plot }}</p>

            {% if movie.website_url != "N/A" %}
                <p><a href="{{ movie.website_url }}">Visit {{ movie.title }}'s website.</a></p>
            {% endif %}
            <br>
            <br>
        </div>
        </div>

    </div>

    <!-- If statement to check if movie Truths exist -->
    <!-- If exist, display the submitted Truths -->



    {% if movie_truths %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
<h3>See The Discussion: </h3>
</div>
</div>
</div>




        {% for truth in movie_truths %}

<div class="container-fluid">
    <div class="row">
        <div class="col" id="truths">


                <h4>{{ truth.truth_title }}</h4>
                Submitted By: <a href="/user/{{ truth.user_id}}">{{ truth.username }}</a>

                <br>{{ truth.truth_submission }}

                {% if truth.resource_submission %}

                    <h5>Resource: <a href="{{ truth.resource_submission }}">External URL</a></h5>

                {% endif %}
                Submitted at: {{ truth.date_submitted }}
<!--                 <script>$('#topic').upvote({count: 5, upvoted: 1});</script> -->



            <!-- Reply field. Movie_id and _truth_id passed in sub rosa -->
            <!-- Reply field will appear for every Truth -->

            {% if "active_user" in session %}


            <div class="row">
    <div class="col">
        <form id="reply-main-comment" method="POST" action="/add-reply">
            <fieldset>
            <input type="text" name="comment" required>
            <input class="hidden" type="hidden" name="movie_id" value={{ movie.movie_id }} required>
            <input class="hidden" type="hidden" name="truth_id" value={{ truth.truth_id }} required>
            <input type="submit" value="REPLY" class="btn btn-info btn-s">
        </fieldset>
        </form>
    </div>
</div>

        </div>
    </div>
</div>


            {% endif %}

        {% for reply in replies %}

            {% if truth.truth_id == reply.truth_id %}

            <!-- For each reply where the truth_id matches, display the replies -->
<div class="container">
<div class="container-fluid">
    <div class="row">
        <div class="col" id="replies">

                    <h4>Re: {{ truth.truth_title }}</h4>
                    Submitted By: <a href="/user/{{ reply.user_id}}">{{ reply.username }}</a>
                    <br>{{ reply.comment }}
               <br>
                    Submitted at: {{ reply.date_submitted }}
            <!--                         <script>$('#topic').upvote({count: 5, upvoted: 1});</script> -->




                <!-- Also display reply field for each other reply -->
                {% if "active_user" in session %}


<div class="row">
    <div class="col">
        <form id="reply-sub-comment" method="POST" action="/add-reply">
            <fieldset>
            <input type="text" name="comment" required>
            <input class="hidden" type="hidden" name="movie_id" value={{ movie.movie_id }} required>
            <input class="hidden" type="hidden" name="truth_id" value={{ truth.truth_id }} required>
            <input type="submit" value="REPLY" class="btn btn-info btn-s">
        </fieldset>
        </form>
    </div>
</div>






<!--                 <form action="/add-reply" method="POST">
                    <fieldset>

                        <br>
                        <input type="text" name="comment" required>
                        
                        <input type="submit" value="Reply">

                    </fieldset>
                </form> -->
</div>
</div>
</div>
</div>



                {% endif %}

            {% endif %}

        {% endfor %}

        {% endfor %}

    {% else %}

<div class="container-fluid">
    <div class="row">
        <div class="col">
<h3>Boo! There are no Truths here yet. </h3>
</div>
</div>
</div>

    {% endif %}

    <!-- If statement to check for active user -->

    {% if "active_user" in session %}



<div class="container-fluid">
    <div class="row">
        <div class="col" id="truth-submission-form">

            <form action="/movies/{{ movie.movie_id }}" method="POST">
                <fieldset>

                    <label><h4>Add a Truth</label></h4>
                    <p>What's the real story?</p>
                    <br>
                    Title: <input type="text" name="title" required>
                    <br>
                    Body: <input type="text" name="truth" required>
                    <br>
                    Resource: <input type="url" name="resource">
                    <input type="submit" value="SUBMIT" class="btn btn-info btn-s">
                    <br>
                    <br>

                </fieldset>
            </form>


</div>
</div>
</div>

</div>
</div>
</div>



    {% else %}
<br>
<div class="col text-center" id="movie-info-login">
    <p>Want to be part of the discussion?</p>
    <a href="/login" class="btn btn-info btn-lg">
    <span class="glyphicon glyphicon-log-out"></span>Please log in to submit a Truth
    </a>
</div>

    {% endif %}


{% endblock %}


